@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
   /*shared styles*/
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
main > section{
    margin-top: 100px;
}
  /*header styles*/
   .bg-light{
    background-color:bisque
   }
  /*navbar styles*/
  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
    
 }
 .nav-link{
    text-decoration: none; 
 }
 .navbar{
    justify-content: space-between;
    align-items: center;
 }

.navbar,.banner{
    max-width: 1448px;
    margin: 0 auto;
}
/*banner related styles */
.banner-content{
    max-width: 863;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    
    
}
.btn-primary{
    background-color: darkorange;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 1.2rem;
    border-style: none;
    margin-bottom: 50px;
}
.banner-description{
   font-size: 16px;
}
.banner-img{
    width:100%;
}
main{
    max-width: 1448;
    margin: 0 auto;
}
/*teams and features related styles*/
.teams{
    justify-content: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
    
}
.team-features{
    margin-left: 130px;
    max-width: 530px;
    align-content: center;
}
.sp1{
    font-size: 3rem;
    font-weight: 300;
}
.sp2{
  color: #131313;
  font-weight: bold;
  font-size: 3rem;
}
.sp3{
   color: #FF900E;
   font-weight: bold;
   font-size: 3rem;
}
.team-description {
    font-size: 1rem;
}
.facts-container{
    border: #FF900E solid 1px;
    width: 150px;
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0 auto;
}


.grid-containers{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 40px;
    padding: 70px;
}
.facts-description , .sp2{
    margin-left: 60px;
}
/*info related styles*/
.our-sponsors{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin:50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*media query*/
@media screen and (max-width:576px) {
    .navbar,.nav-link , .teams{
        flex-direction: column;
    }
    .team-img-container {
        grid-template-columns: repeat(1,1fr);
    }
    .team-features{
        margin-left: 25px;
    }
    .grid-containers{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .sponsors{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
}